@mixin font-face($font-family, $url, $weight:normal){
  font-family: $font-family;
  font-weight: $weight;
  src: url('#{$url}.eot');
  src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
  url('#{$url}.woff') format('woff'),
  url('#{$url}.ttf') format('truetype');
}

@font-face {
  @include font-face(nautilys,"../fonts/nautiluspompilius");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  @include font-face(raleway-ex,"../fonts/RalewayBold/RalewayBold", bold);
}
@font-face {
  @include font-face(raleway-ex,"../fonts/RalewaySemiBold/RalewaySemiBold", 600);
}
@font-face {
  @include font-face(raleway-ex,"../fonts/RalewayExtraBold/RalewayExtraBold", 800);
}
@font-face {
  @include font-face(raleway-ex,"../fonts/RalewayLight/RalewayLight", 300);
}
@font-face {
  @include font-face(raleway-ex,"../fonts/RalewayThin/RalewayThin", 100);
}

@font-face {
  @include font-face(raleway-ex,"../fonts/RalewayRegular/RalewayRegular");
}
@font-face {
  @include font-face(fira-sans,"../fonts/FiraSansRegular/FiraSansRegular");
}